<div>
    <input type="text" name="title" value="<%= book.title%>">
<select name="author">
    <% locals.authorList.forEach((author)=>{ %>
        <% if (author.id == book.author){%>
            <option value="<%= author.id %>" selected><%= author.name %></option>
        <% }else {%>
            <option value="<%= author.id %>" ><%= author.name %></option>
        <%}%>
    <% }) %>
</select>
</div>
<div>
    <input type="date" name="publishedDate" value="<%= book.publishedDate %>">
    <input type="number" min=1 name="pageCount" value="<%= book.pageCount %>">
</div>
<div>
    <input type="file" name="cover" >
    <textarea cols="20" rows="5" name="description"><%= book.description %></textarea>
</div>
