<h3>Search Book</h3>
<form action="/book" method="GET">
    <input type="text" name="title" value="<%= searchItems.title %>">
    <input type="date" name="leftRangeDate" value="<%= searchItems.leftRangeDate %>">
    <input type="date" name="rightRangeDate" value="<%= searchItems.rightRangeDate %>">
    <button type="submit">Search</button>
</form>
<br>
<h4>Result books</h4>
<% locals.pageObj.books.forEach( (book)=>{ %>
    <a href="/book/<%= book.id %>">
        <img src="<%= book.coverImagePath %>" width="90" height="150">
    </a>
<% }) %>


<!-- Pagination stuff is going on here -->
<% if( locals.pageObj.pagination == true ) {%>
<nav aria-label="..." class="m-4">
    <ul class="pagination">
    <li class="page-item <%= pageObj.prev != -1? "" : "disabled" %>">
        <a class="page-link" href="<%= pageObj.prev != -1 ? `/book?page=${pageObj.prev}` : "#" %>" tabindex="-1">Previous</a>
      </li>
    <% locals.pageObj.page_arr.forEach((page)=>{ %>
        <li class="page-item <%= pageObj.active == page ? "active" : "" %>">
            <a class="page-link" href="/book?page=<%= page %>"><%= page %></a>
        </li>
    <%})%>
      <li class="page-item <%= pageObj.next != -1? "" : "disabled" %>">
        <a class="page-link" href="<%= pageObj.next != -1 ? `/book?page=${pageObj.next}` : "#" %>" >Next</a>
      </li>
    </ul>
  </nav>

<%}%>