<h3 class="side-header">Search Book</h3>
<form action="/book" method="GET">
    <div class="form-row">
      <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= searchItems.title %>">
      </div>
    </div>
    <div class="form-row">
         <div class="form-item">
            <label >Left Range Date</label>
            <input type="date" name="leftRangeDate" value="<%= searchItems.leftRangeDate %>">
         </div>
        <div class="form-item">
            <label>Right Range Date</label>
            <input type="date" name="rightRangeDate" value="<%= searchItems.rightRangeDate %>">
        </div>
    </div>
    <div class="btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<h4 class="side-header"  >Result books</h4>
<% locals.pageObj.books.forEach( (book)=>{ %>
    <a href="/book/<%= book.id %>">
        <img src="<%= book.coverImagePath %>" width="90" height="150">
    </a>
<% }) %>


<!-- Pagination stuff is going on here -->
<% if( locals.pageObj.pagination == true ) {%>
  <div style="margin: top 20px;">
        <a class="page-link" href="<%= pageObj.prev != -1 ? `/book?page=${pageObj.prev}` : "#" %>" tabindex="-1">Previous</a>
    <% locals.pageObj.page_arr.forEach((page)=>{ %>
            <a class="page-link" href="/book?page=<%= page %>"><%= page %></a>
    <%})%>
        <a class="page-link" href="<%= pageObj.next != -1 ? `/book?page=${pageObj.next}` : "#" %>" >Next</a>
      </div>
<%}%>