<h2 class="side-header" ><%= book.title %></h2>
<img src="/<%= book.coverImagePath %>" width="90" height="150">
<div>Author Name: <%= book.author.name %></div>
<div>Book Published Date: <%= book.publishedDate.toDateString() %></div>
<div>Page Count: <%= book.pageCount %></div>
<div>Description: <%= book.description %></div>
<br>
<div class="btn-row">
    <a   class="btn btn-primary" href="/book/<%= book.id%>/edit">Edit</a>
<a class="btn btn-primary" href="/author/<%= book.author.id%>">View Author</a>
<%- include('../partials/delete_form.ejs',{url:`/book/${book.id}?_method=DELETE`}) %>
</div>


