<h2 class="side-header"  >Recently Added Books</h2>
<% locals.pageObj.books.forEach((book) => { %>
    <a href="/book/<%= book.id %>">
        <img src="/<%= book.coverImagePath %>" width="90" height="150">
    </a>
<% })%>

<!-- Pagination stuff is going on here -->
<% if( locals.pageObj.pagination == true ) {%>
    <div style="margin-top: 20px;">
            <a class="page-link" href="<%= pageObj.prev != -1 ? `/?page=${pageObj.prev}` : "#" %>" tabindex="-1">Previous</a>
        <% locals.pageObj.page_arr.forEach((page)=>{ %>
                <a class="page-link" href="/?page=<%= page %>"><%= page %></a>
        <%})%>
            <a class="page-link" href="<%= pageObj.next != -1 ? `/?page=${pageObj.next}` : "#" %>" >Next</a>
        </div>
    <%}%>