<h3 class="side-header" ><%= author.name %></h3>
<a href="/author/<%= author.id %>/edit">Edit</a>
<%- include('../partials/delete_form.ejs',{url:`/author/${author.id}?_method=DELETE`}) %>
<br>
<h2>Author's Books</h2>
<% locals.pageObj.books.forEach((book) => { %>
    <a href="/book/<%= book.id %>">
        <img src="/<%= book.coverImagePath %>" width="90" height="150">
    </a>
<% })%>

<!-- Pagination stuff is going on here -->
<% if( locals.pageObj.pagination == true ) {%>
  <div>
            <a class="page-link" href="<%= pageObj.prev != -1 ? `/author/${author.id}?page=${pageObj.prev}` : "#" %>" tabindex="-1">Previous</a>
        <% locals.pageObj.page_arr.forEach((page)=>{ %>
                <a class="page-link" href="/author/<%= author.id %>?page=<%= page %>"><%= page %></a>
        <%})%>
            <a class="page-link" href="<%= pageObj.next != -1 ? `/author/${author.id}?page=${pageObj.next}` : "#" %>" >Next</a>
          </div>
    <%}%>